body{
  background-color: #f3f5f6 ;
}

.C-connexion{

    display: block;
    height: 200px;
    width: 330px;
    background-color: #ffffff;
    border: 1px solid #d7dee2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 115px;
  }
  .title-1 p {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 15px;
  }
.bloc-client {
  display: block;
  height: 75px;
  width: 330px;


}
.bloc-moniteur{
  display: block;
  height: 75px;
  width: 330px;

}
  .connexion{
    outline: none;
    text-decoration: none;
    background-color: #ffffff;
    border: none 0px;
    color: #006DCC;
    padding-left: 15px;
    font-size: 17px;
    line-height: 70px;



  }
.ligne{
    display: block;
    height: 2px;
    width: 300px;
    background-color: #d7dee2;
    margin-left: auto;
    margin-right: auto;
}
#C-popup{
  display: block;
  height: 400px;
  width: 330px;
  background-color: #f3f5f6;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1270px;


}
.C-title{
  display: flex;
  justify-content: center;
}
.boutton{
  float: right;

}
.btn-danger{

  margin-top: 20px;

}
.btn-primary{

  margin-top: 20px;

  background-color: #2E5F84 !important;

}

.form-group{
  margin-top: 5px;
  padding-top: 10px;
}
@media screen and (max-width: 576px) {

  .C-connexion{
    margin-top: 235px;

  }
  /*.boutton{
    float: right;

  }*/
  .btn-danger{
    float: left;
    margin-left: 10px;
    margin-top: 20px;

  }
  .btn-primary{
    float: right;
    margin-right: 20px
    margin-top: 20px;

    background-color: #2E5F84 !important;

  }

  /*#C-popup{
    margin-top: -300px;
  }
*/
