
/*couleur et taille de la navbar*/
.navbar-custom {
  background-color: #272B3A;
  height: 51px;
}
.nav-color{
  background-color: #676767;
  height: 4px;
  width: 100%.
}
h4{
  color: white;
  margin-left: auto;
  margin-right: auto;

}
/*longueur input*/
.form-control{
  width: 250px !important;
}
.container{
  margin-top: 12%;
}
.btn-primary {
  margin-left: 10% !important;
  background-color: #2E5F84 !important;
  height: 47px;
  width: 170px;
}
.title-connexion{
  margin-left: 12% !important;
}
.form-group{
  margin-top: 30px;
  padding-top: 10px;
}
.footer{
  background-color: #272B3A;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.footer-copyright{
  color: white;
  padding-top: 50px;
  font-size: 14px;
  text-align: center;
}


@media screen and (max-width: 576px) {

  .container{
      padding-left: 20% !important;
      padding-top: 30% !important;
}
.btn-primary {
  margin-left: 12% !important;

}
